.header_section {
    min-height: 600px;
    max-height: fit-content;
    width: auto;
    background: url('../images/header_bg_vectors.png') center no-repeat, radial-gradient(#d860ce, #8f0283);
    background-size: cover
}

.svg-image {
    margin-top: -1px
}

.faq_question_section {
    height: auto;
    width: auto
}

.answer_parent {
    display: none
}

.service_child1 {
    background: #bbd1f4
}

.service_child2 {
    background: #ffe5c2
}

.service_child3 {
    background: #d2cdc7
}

.service_child4 {
    background: #ffc747
}

.header_heading {
    line-height: 1.6
}

.header_image {
    filter: contrast(1.1);
    max-width: 600px !important
}

.learning-image {
    box-shadow: (1px 1px 0 #00000035)
}

.faq_question {
    cursor: pointer
}

.progress,
.progress-bar {
    height: .5rem
}

.team-card {
    width: 12rem
}

.services_card {
    height: auto
}

.services_image {
    height: 160px;
    width: auto
}

.services_image img {
    position: absolute;
    left: 50%;
    right: 50%;
    top: -75px;
    transform: translateX(-50%)
}

.testimonial_text {
    height: 260px;
    overflow-y: auto;
    line-height: 1.9rem !important
}

.testimonial_text::-webkit-scrollbar {
    width: 5px !important
}

.category-text {
    color: var(--primary)
}

.responsive_image {
    max-width: 500px !important
}

.ratingCard {
    height: auto;
    width: auto;
    background-color: #f8e7f6;
    padding: 0.75rem;
    border-radius: 8px;
    box-shadow: 0px 3px 5px 0 #00000042;
}