*,
.customize_dropdown:hover,
a.nav-link {
    font-family: Kanit, sans-serif
}

.second-reward-section,
.third-reward-section {
    max-height: fit-content;
    min-height: 100px;
    width: auto
}

.drop::after,
.drop::before {
    opacity: .9;
    background: #fff
}

#app,
#app1 {
    animation: 2s linear infinite textclip
}

.item-count,
.myGallery .item img {
    vertical-align: middle
}

* {
    padding: 0;
    margin: 0
}

/* :root {
    --primary: #006ae7;
    --secondary: #ff9d0b;
    --navbar-secondary: #ffaa0b;
    --lightersecondary: #ffe3b9;
    --lightblue: #97bcef;
    --lightprimary: #2f9aff;
    --greyprimary: #0074d9;
    --whiteprimary: #95ceff;
    --white: #ffffff;
    --light: #dbdbdbe0;
    --facebook: #0050ff;
    --instagram: #ff0081;
    --linkedin: #003f91;
    --youtube: #ff1010;
    --twitter: #00aeff
} */

@media (max-width:500px) {

    .about_features_section,
    .about_section,
    .categories_section,
    .contact_features_section,
    .contact_form_section,
    .contact_section,
    .contact_service_section,
    .faq_section,
    .get_stared_section,
    .join_together_section,
    .offer_section,
    .photo_gallery_section,
    .pricing,
    .qualify_section,
    .rewards_section,
    .service_section,
    .statistics_section,
    .students_section,
    .teacher_registration,
    .teachers_section,
    .testimonial_section {
        margin: 1.2rem auto !important
    }
}

.text_secondary {
    color: var(--secondary) !important
}

.curve,
.testimonial_name,
.text_primary,
a.dropdown-item.active,
a.dropdown-item:active,
a.read-more {
    color: var(--primary) !important
}

.outlined_secondary_btn,
.primary_btn,
.secondary_btn {
    transition: .25s;
    box-shadow: 0 8px 11px 0 #00000057
}

.font_medium {
    font-size: 1.1rem !important
}

.text_shadow {
    text-shadow: 1px 1px #0000003d !important
}

.secondary_btn {
    background: var(--secondary);
    border-radius: 15px
}

.footer-social-icon a:hover,
.primary_btn:hover,
.secondary_btn:hover {
    scale: 1.08
}

.outlined_secondary_btn {
    color: var(--white);
    background: 0 0 !important;
    border: 2px solid var(--secondary)
}

.outlined_secondary_btn:hover {
    color: #0C294C !important;
    background: var(--secondary) !important;
    scale: 1.08
}

.primary_btn {
    background: var(--primary);
    border-radius: 15px
}

.absolute_nav {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important
}

.fixed_nav {
    background-color: var(--primary);
    box-shadow: 1px 3px 7px 1px #000000ad !important;
    margin: .25rem auto !important;
    border-radius: 50rem !important
}

@media (max-width:991px) {
    .fixed_nav {
        margin: 0 auto !important;
        border-radius: 0 !important
    }
}

html {
    overflow-x: hidden
}

.fixed_width {
    max-width: 1300px !important;
    margin-left: auto !important;
    margin-right: auto !important
}

.fixed_header_media_width {
    max-width: 500px !important
}

.custom_animation_delay {
    animation-delay: .75s
}

.custom_animation_duration {
    animation-duration: 1.5s
}

::-webkit-scrollbar {
    width: 8px
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--secondary)
}

.paragraph_font {
    font-size: 1.15rem !important
}

.contact_section_title .text .decor-left,
.contact_section_title .text .decor-right,
.decor-left {
    position: relative;
    top: -2px;
    display: inline-block;
    width: 70px;
    height: 5px;
    background: 0 0
}

.contact_section_title .text .decor-left span,
.decor-left span {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50px;
    height: 1px;
    background: orange;
    content: "";
    margin: 2px 0
}

.contact_section_title .decor:before,
.contact_section_title .text .decor-left:before,
.decor-left:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 5px;
    height: 5px;
    background: orange;
    border-radius: 50%;
    content: ""
}

.contact_section_title .decor:after,
.contact_section_title .text .decor-left:after,
.decor-left:after {
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 5px;
    height: 5px;
    background: orange;
    border-radius: 50%;
    content: ""
}

.content a::before,
.drop::after,
.drop::before {
    content: '';
    position: absolute
}

.category_card:hover {
    transition: .3s;
    background: linear-gradient(180deg, var(--primary), #0039a1)
}

.subject_cards_container {
    justify-content: space-between;
    position: -webkit-sticky
}

.subject_odd_card {
    transform: perspective(50em) rotatey(335deg);
    transform-style: preserve-3d
}

.subject_even_card {
    transform: perspective(50em) rotatey(25deg);
    position: relative;
    top: 3rem
}

.subject_card {
    height: auto;
    width: auto;
    background: #fff;
    filter: drop-shadow(2px 5px 5px #00000065);
    transition: .3s
}

.subject_odd_card:hover {
    transform: perspective(50em) rotateX(360deg)
}

.subject_even_card:hover {
    transform: perspective(50em) rotateX(350deg)
}

.subject_details {
    display: flex;
    align-items: center
}

.subject_badge_3d {
    height: 30px;
    width: 30px;
    background: linear-gradient(334deg, #0064ff, #62a1ff);
    box-shadow: 2px 2px 3px 0 #0000005c
}

.faq-heading,
.subject_details span.h5 {
    color: var(--primary)
}

@media (max-width:575px) {
    .subject_even_card {
        transform: perspective(50em) rotatey(25deg)
    }

    .subject_cards_container {
        justify-content: center !important
    }
}

.header_text_side,
.swiper-slide {
    justify-content: center
}

.contact_features_section,
.faq_section,
.get_stared_section,
.join_together_section,
.photo_gallery_section,
.pricing,
.qualify_section,
.rewards_section,
.statistics_section,
.students_section {
    height: auto;
    width: auto;
    margin: 4rem auto
}

.check-para,
.stars-header-icons {
    line-height: 1.4
}

.header-icons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px
}

.start-free-trial-btn {
    color: #000 !important;
    border-radius: 15px 0 !important;
    background-color: var(--secondary);
    border-color: var(--secondary);
    margin: 0 .5rem !important
}

.faq_question_section,
.header,
.result_card,
.result_details,
.result_name,
.test_container_top,
.testimonial_card {
    height: auto;
    width: auto
}

.topBar_link {
    background-color: #bb6cff !important
}

#offcanvasTop,
.bar1,
.carousel-dark .carousel-indicators [data-bs-target],
.header_section-help,
.header_section-help1,
.start-free-trial-btn-two {
    background-color: var(--primary) !important
}

.dropdown_svg_icon {
    fill: #fff
}

a.nav-link {
    color: #fff !important;
    font-size: 1rem;
    letter-spacing: normal;
    word-spacing: normal;
    -webkit-user-select: none
}

a.nav-link.active,
a.nav-link:hover {
    border-radius: 5px;
    color: var(--navbar-secondary) !important
}

a.nav-link:hover .dropdown_svg_icon {
    fill: var(--navbar-secondary) !important
}

a.nav-link.active {
    color: var(--navbar-secondary);
    border-radius: 10px
}

.customize_dropdown:hover {
    transition: .3s;
    font-size: 1rem;
    color: var(--secondary)
}

.offcanvas-body .customize_dropdown:hover {
    background-color: #bdbbbb !important;
    color: #0f67f5 !important
}

.offcanvas-body a.nav-link.active,
.offcanvas-body a.nav-link:hover {
    background-color: transparent !important
}

a.dropdown-item:hover {
    background-color: hsl(0deg 0% 96.85% / 73%) !important;
    border-radius: 5px;
    color: var(--primary) !important
}

.transformed_nav_icon {
    transition: .25s;
    transform: rotateX(180deg)
}

.reformed_nav_icon {
    transition: .25s;
    transform: rotateX(0)
}

a.dropdown-item {
    font-size: 1rem;
    color: #353535
}

.portal_login_btn {
    color: #0f67f5 !important;
    background-color: #0f67f5
}

.footer_section {
    background: var(--primary)
}

footer a {
    text-decoration: none
}

.footer_list_item a {
    color: var(--white);
    transition: .3s;
    text-transform: capitalize
}

.explore-counter,
.footer_list_item a:hover,
.header-icons,
.sub_title {
    color: var(--secondary)
}

.footer_list_item {
    text-align: start !important;
    transition: .3s
}

.footer_list_item:hover {
    transform: translateX(2px)
}

.footer_bg_facebook,
.footer_bg_instagram,
.footer_bg_linkedin,
.footer_bg_youtube {
    height: 35px;
    width: 35px;
    transition: .3s
}

.footer_bg_facebook:hover {
    color: var(--facebook)
}

.footer_bg_instagram:hover {
    background: #fff !important;
    color: var(--instagram)
}

.footer_bg_linkedin:hover {
    color: var(--linkedin)
}

.footer_bg_youtube:hover {
    color: var(--youtube)
}

.footer_bg_tiktok,
.footer_bg_twitter {
    height: 35px;
    width: 35px
}

.footer_bg_twitter svg {
    fill: white
}

.footer_bg_twitter:hover.footer_bg_twitter svg {
    fill: black
}

.footer_bg_tiktok:hover {
    border: 2px solid #000 !important;
    background: #000 !important;
    color: var(--white);
    text-shadow: 1px 1px 0 #ff003b
}

.small_portal_login_btn {
    background-color: transparent;
    color: #fff;
    display: none
}

.small_portal_login_btn:hover {
    transition: .3s;
    scale: 1.03
}

.sidebar_brandName {
    color: #fefefef6
}

.sidebar_list_item {
    background-color: #fdfdfd;
    transition: .3s
}

.sidebar_list_item a.nav-link {
    color: #1c1c1d !important
}

.header_section {
    min-height: 600px;
    max-height: fit-content;
    width: auto;
    background: url(../images/header_bg_vector.webp) center no-repeat, radial-gradient(var(--lightprimary), var(--primary));
    background-size: cover
}

.journey_banner_section {
    background: linear-gradient(45deg, #ffd9a1, #ffaa2d)
}

.journey_section_image_container {
    height: 270px
}

.journey_section_image {
    filter: drop-shadow(1px 1px 2px #00000045);
    width: 425px !important
}

.second-reward-section {
    background-color: #7ae67a
}

.third-reward-section {
    background-color: var(--secondary)
}

.about_section,
.categories_section,
.service_section {
    height: auto;
    width: auto;
    margin: 5rem auto
}

.header_text {
    font-weight: 600 !important
}

.header_text span {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #fff, orange);
    font-style: normal
}

.btn_header_customize {
    background: linear-gradient(to right, #8ed1fc, #9900ef);
    font-size: 1em !important;
    text-transform: uppercase
}

.heading_separator,
.shape-box_half>.after {
    background: var(--secondary)
}

.section_heading h2 {
    color: #292929
}

.heading_separator {
    height: .4rem;
    width: 250px
}

.section_top_text {
    color: var(--secondary);
    font-style: italic
}

.swiper {
    user-select: none;
    -webkit-user-select: none
}

.swiper-slide {
    height: auto;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    align-items: center
}

.container2,
.stats_card {
    display: flex;
    justify-content: center
}

.services_text {
    margin-top: .5rem
}

.statistics_left_section {
    height: 350px;
    position: relative
}

.statistics_left_image {
    height: 430px;
    background: url(../images/Stats\ \(2\).png) center/contain no-repeat
}

.statistics_right_section {
    min-height: 350px;
    max-height: auto
}

.statistics_right_section h2 {
    color: #4d4d4d
}

.stats_brand_name {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #8ed1fc, #9900ef);
    font-style: normal
}

.stats_card {
    height: auto;
    align-items: center;
    transition: .3s;
    -webkit-user-select: none
}

.stats_card:hover,
.team-card:hover {
    scale: 1.03
}

.badges {
    left: -10
}

.stats_card_number-1 {
    font-size: 3.125rem
}

.read-more,
a {
    text-decoration: none !important
}

.paragraph {
    color: gray
}

.offer_section {
    height: auto;
    width: auto;
    margin: 4rem auto;
    background: url(../images/our-courses-left-dec.png) right 10% no-repeat
}

.offer_card {
    box-shadow: 6px 9px 10px 1px #0000004a
}

.pricing-image-div {
    background: var(--secondary);
    border-bottom-left-radius: 25%
}

.testimonial_section {
    height: auto;
    width: auto;
    margin: 4rem auto;
    background: radial-gradient(#147bff, #0071f6)
}

.testimonialSwiper {
    height: fit-content;
    width: auto
}

.serviceSwiper {
    height: 400px;
    width: auto;
    padding: 20px
}

.testimonialSwiper .swiper-slide {
    margin-top: 20px;
    min-height: 400px;
    max-height: fit-content;
    width: auto
}

.testimonialSwiper .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.testimonial_title {
    color: #000 !important
}

.testimonial_review {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden
}

.contact_section,
.contact_service_section {
    height: auto;
    width: auto;
    margin: 2rem auto
}

.container2 {
    position: relative;
    align-items: center;
    flex-wrap: wrap;
    margin: 15px;
    padding: 50px 0;
    gap: 40px 60px
}

.content,
.drop {
    display: flex;
    justify-content: center;
    position: relative
}

.drop {
    width: 200px;
    height: 200px;
    box-shadow: inset 20px 20px 20px rgba(0, 0, 0, .05), 25px 35px 20px rgba(0, 0, 0, .05), 25px 30px 30px rgba(0, 0, 0, .05), inset -20px -20px 25px rgba(255, 255, 255, .9);
    transition: .5s ease-in-out;
    align-items: center
}

.drop:first-child {
    border-radius: 47% 53% 70% 30%/30% 43% 57% 70%
}

.drop:nth-child(2) {
    border-radius: 61% 39% 52% 48%/44% 59% 41% 56%
}

.drop:nth-child(3) {
    border-radius: 35% 65% 31% 69%/57% 59% 41% 43%
}

.drop::after,
.drop::before,
.drop:hover {
    border-radius: 50%
}

.drop::before {
    top: 50px;
    left: 85px;
    width: 35px;
    height: 35px
}

.drop::after {
    top: 10px;
    left: 110px;
    width: 15px;
    height: 15px
}

.content {
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 40px;
    gap: 15px
}

.content a::before {
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    width: 65%;
    height: 5px;
    border-radius: 5px
}

.footer-heading h2::before,
.footer-widget-heading h3::before {
    content: "";
    bottom: -15px;
    width: 50px;
    background: #ff5e14;
    left: 0
}

.content p {
    color: #534c4c
}

.copyright-text p a,
.footer-menu li:hover a,
.footer-widget ul li a:hover,
.single-cta i {
    color: #ff5e14
}

.form-group {
    position: relative;
    margin-bottom: 1.5rem
}

.form-control-placeholder {
    position: absolute;
    top: 0;
    padding: 7px 0 0 13px;
    transition: .2s;
    opacity: .5
}

.input-group-text {
    height: 57px
}

.exampleInputEmail1 {
    max-width: 400px
}

.id {
    background-image: linear-gradient(to right, #8ed1fc, #eac6ff);
    background-size: contain;
    padding: 20px
}

.form-control:focus+.form-control-placeholder,
.form-control:valid+.form-control-placeholder {
    font-size: 75%;
    transform: translate3d(0, -100%, 0);
    opacity: 1
}

.section-services {
    font-family: Poppins, sans-serif;
    color: #fff
}

.section-services .header-section {
    margin-bottom: 35px
}

.section-services .header-section .title {
    position: relative;
    margin-bottom: 40px;
    padding-bottom: 25px;
    text-transform: uppercase;
    font-weight: 700
}

.section-services .header-section .title:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 140px;
    height: 1px;
    background-color: #8ed1fc
}

.section-services .header-section .title:after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    width: 45px;
    height: 3px;
    background-color: #8ed1fc
}

.section-services .header-section .title span {
    color: #f70037
}

.section-services .header-section .description {
    color: #6f6f71
}

.section-services .single-service {
    margin-top: 40px;
    background-color: #fff;
    color: #000;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1)
}

.section-services .single-service .part-1 .title {
    font-size: 17px;
    font-weight: 700;
    letter-spacing: .02em;
    line-height: 1.8em
}

.section-services .single-service .part-2 {
    padding: 30px 40px 40px
}

.section-services .single-service .part-2 .description {
    margin-bottom: 22px;
    color: #6f6f71;
    font-size: 14px;
    line-height: 1.8em
}

.section-services .single-service .part-2 a {
    color: #000;
    font-size: 14px;
    text-decoration: none
}

.footer-section {
    background: var(--primary);
    position: relative
}

.footer-cta {
    border-bottom: 1px solid #373636;
    padding-bottom: 8px !important
}

.footer_icons_link {
    height: 35px;
    width: 35px;
    background: #ffffff00 !important;
    color: #fff;
    border: 2px solid #fff !important
}

.single-cta i {
    font-size: 30px;
    float: left;
    margin-top: 8px
}

.cta-text {
    padding-left: 15px;
    display: inline-block
}

.cta-text h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px
}

.cta-text span {
    color: #757575;
    font-size: 15px
}

.footer-content {
    position: relative;
    z-index: 2
}

.footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%
}

.footer-logo img {
    max-width: 120px
}

.footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
    color: #fff;
    line-height: 21px
}

.footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: Poppins, sans-serif;
    margin-bottom: 20px
}

.footer-social-icon i {
    background-color: #fff;
    border-radius: 200px;
    padding: 14px
}

.footer-social-icon a {
    font-size: 16px;
    margin-right: 15px;
    transition: .3s
}

.facebook-bg {
    background: #3b5998
}

.google-bg {
    background: #dd4b39
}

.footer-widget-heading h3,
.footer-widget-heading p {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
    position: relative
}

.footer-widget-heading h3::before {
    position: absolute;
    height: 2px
}

.footer-heading h2 {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative
}

.footer-heading h2::before {
    position: absolute;
    height: 3px
}

.footer-widget ul li {
    display: inline-block;
    float: left;
    width: 50%
}

.footer-widget ul li a {
    color: #878787;
    text-transform: capitalize
}

.myGallery .item,
.subscribe-form {
    position: relative;
    overflow: hidden
}

.copyright-area {
    background: #031538;
    padding: 25px 0
}

.copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #fff
}

.footer-menu li {
    display: inline-block;
    margin-left: 20px
}

.footer-menu li a {
    font-size: 14px;
    color: #878787
}

.footer-cta .row .col-xl-4:first-child .single-cta i {
    position: absolute;
    color: #ff5e14
}

.footer-cta .row .col-xl-4:first-child .single-cta .cta-text {
    padding-left: 32px
}

.footer-cta .row .col-xl-4:nth-child(2) .single-cta i {
    color: #14ffa7
}

.footer-cta .row .col-xl-4:nth-child(3) .single-cta i {
    color: gold
}

.footer-social-icon .social_icon {
    text-align: left
}

#app,
#app1,
.card-description .icon,
.social_icon li a {
    text-align: center
}

.footer-social-icon .social_icon li {
    float: inherit !important;
    display: inline-block !important;
    width: inherit
}

.footer-social-icon .social_icon li a i {
    font-size: 15px;
    line-height: 39px
}

.footer-social-icon .social_icon li a {
    width: 40px;
    height: 40px
}

.social_icon {
    text-align: right;
    margin: 3px 0 0
}

.social_icon li {
    display: inline-block;
    margin: 0 5px
}

.social_icon li a {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: #fff;
    color: #000;
    border-radius: 100%;
    transition: .2s ease-in-out
}

#app,
.footer_unorder_list li a,
.test_question_title {
    color: #fff !important
}

.social_icon li a i {
    font-size: 15px;
    line-height: 20px
}

.social_icon li:first-child a {
    background: #4267b2;
    color: #fff
}

.social_icon li:nth-child(2) a {
    background: #1da1f2;
    color: #fff
}

.social_icon li:nth-child(3) a {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    color: #fff
}

.social_icon li:nth-child(4) a {
    background: red;
    color: #fff
}

.social_icon li:first-child:hover a {
    background: #fff;
    color: #4267b2
}

.social_icon li:nth-child(2):hover a {
    background: #fff;
    color: #1da1f2
}

.social_icon li:nth-child(3):hover a {
    background: #fff;
    color: #bc1888
}

.social_icon li:nth-child(4):hover a {
    background: #fff;
    color: red
}

.twitter-bg {
    background: #eceeee
}

.instagram-bg {
    background: linear-gradient(#ffb302, #d400ff)
}

.linkedin-bg {
    background: #0a66c2
}

.youtube-bg {
    background: #f12626
}

.footer-widget ul li {
    margin-bottom: 12px;
    transition: .3s;
    list-style: none;
    color: #fff;
    line-height: normal;
    font-size: 1rem
}

.hr-line {
    background-color: grey
}

.video_section {
    height: auto;
    width: auto;
    margin: 4rem auto;
    background-color: #ececec
}

.test-position {
    color: #ff0
}

.testimonial-card {
    min-height: 500px;
    max-height: fit-content;
    background-color: #070028
}

.dropdown_toggle_icon,
.section_text {
    transition: .3s
}

@media (max-width:425px) {

    #exampleInputEmail1,
    .journey_section_image {
        width: 100% !important
    }

    .start-free-trial-btn {
        margin: .5rem 0 !important
    }

    .faq_section_container {
        padding: .5rem !important
    }
}

@media (max-width:375px) {
    .faq_image img {
        width: 250px !important
    }
}

.transform_icon {
    transition: .3s;
    transform: rotate(135deg);
    color: #c41e1ee6
}

.revive_icon {
    transition: .3s;
    transform: rotate(0);
    color: #74a244
}

.offers {
    margin-inline: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    list-style: none;
    counter-reset: stepnr
}

.card-description:nth-child(3n+1) {
    --accent-color: rebeccapurple
}

.card-description:nth-child(3n+2) {
    --accent-color: #4cbccb
}

.card-description:nth-child(3n+3) {
    --accent-color: #7197d3
}

.card-description {
    counter-increment: stepnr;
    width: 20rem;
    --borderS: 2rem;
    aspect-ratio: 15;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: calc(var(--borderS) + 2rem);
    position: relative
}

.card-description::after,
.card-description::before {
    inset: 0;
    position: absolute;
    border: var(--borderS) solid var(--bgColor);
    line-height: 1.1
}

.card-description::before {
    content: counter(stepnr);
    color: var(--accent-color);
    padding-left: 10rem;
    font-size: 12rem;
    font-weight: 600;
    overflow: hidden
}

.card-description::after {
    content: "";
    filter: drop-shadow(-.25rem .25rem .0675rem rgba(0, 0, 0, .75)) blur(5px);
    border: 10px solid #fff
}

.card-description>* {
    width: 7.5rem
}

.card-description .icon {
    font-size: 2rem;
    color: var(--accent-color)
}

.card-description .title {
    font-size: 2rem;
    font-weight: 500
}

.card-description .descr {
    font-size: 1rem;
    font-weight: 300
}

.testimonial-user1 {
    height: auto;
    width: 100%;
    background: url(../images/testimonial4.jpg) center/cover no-repeat
}

.testimonial-user2 {
    height: auto;
    width: 100%;
    background: url(../images/Testimonial2.jpg) center/cover no-repeat
}

.testimonial-user3 {
    height: auto;
    width: 100%;
    background: url(../images/Testimonial1.jpg) center no-repeat
}

.stats-card-line {
    border: none;
    height: 2px;
    background-color: #000
}

.fa-star,
.fa-star-half-alt {
    color: #e3ba1d
}

.gradient {
    background: -webkit-linear-gradient(#8ed1fc, #9900ef);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.answer-content,
.explore-header-images {
    flex-wrap: wrap
}

.question-content {
    overflow-y: scroll;
    height: 500px
}

.question-bottom-content,
.questions-top-content {
    position: fixed
}

.question-image-div {
    width: 100px;
    height: 100px;
    border-radius: 50% !important;
    background-color: var(--bs-white);
    box-shadow: 0 1px 10px 1px #00000052
}

.q-image,
.test-image {
    width: 70%;
    height: auto
}

.question_section {
    height: auto;
    width: auto;
    margin: 4rem auto;
    background: linear-gradient(182deg, #0000007a, #000000ad) 0 0/cover, url(../images/question__section.jpg) center/cover no-repeat fixed
}

.nav-pills {
    background-color: var(--bs-white);
    color: var(--bs-primary) !important
}

.nav-pills .nav-link {
    border: 2px solid var(--bs-white) !important
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: var(--bs-white) !important;
    color: var(--bs-primary) !important;
    border: 2px solid var(--bs-primary) !important;
    border-radius: 100rem !important;
    background-color: #fff;
    color: #00f
}

.left-side-questions,
.testinomial-section_explore {
    background-color: #0f67f5
}

.tab-content {
    background-color: #ffffffff
}

.content-before-footer {
    height: 250px;
    background-color: #ebebeb
}

.getStarted_btn {
    background-color: #3e008b !important
}

.nav-tabs {
    --bs-nav-tabs-border-color: none !important
}

.reward-para {
    font-size: 20px
}

.section_card {
    background: #ffffff3d !important;
    box-shadow: 1px 4px 10px 1px #0000003b !important;
    border: none !important;
    transition: .3s
}

.section_card:hover {
    scale: 1.05;
    background: #ffffff4d !important
}

.question_container {
    height: 500px;
    width: auto;
    overflow-y: auto;
    overflow-x: hidden
}

.question_container::-webkit-scrollbar {
    width: 5px
}

.question_option_btn {
    border: 2px solid #ccc !important
}

.correct_option {
    background: #abff924a !important;
    border: 2px solid #009e06 !important
}

.wrong_option {
    background: #ff76764a !important;
    border: 2px solid red !important
}

.counter-section {
    background-color: #f75050
}

.free11-resource,
.testinomial-section {
    background-color: #0c132c
}

.testimonial_image {
    width: 100px;
    height: 100px
}

.exam-prep,
.trusted-by-students {
    background-color: #ebebeb
}

.about_header_section,
.contact_header_section,
.teacher_header_section {
    min-height: 600px;
    max-height: fit-content;
    width: auto;
    background: radial-gradient(var(--lightprimary), var(--primary))
}

.emailbtn {
    width: 70% !important
}

.explore_card {
    width: 200px;
    height: 200px
}

.reward-img7,
.reward-img8 {
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
    width: auto
}

.paper_card {
    box-shadow: "0 12px 20px 0 rgba(0, 0, 0, .06)"
}

.paper_test {
    background-color: #ffd595
}

.reward-img7 {
    background-image: url("../images/explore1.png");
    background: radial-gradient(var(--white), var(--primary))
}

.reward-img8 {
    background-image: url("../images/explore2.png");
    background: radial-gradient(var(--white), var(--primary))
}

.reward-img10,
.reward-img12,
.reward-img9 {
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
    width: auto
}

.reward-img9 {
    background-image: url("../images/explore3.png")
}

.reward-img10 {
    background-image: url("../images/explore4.png")
}

.reward-img12 {
    background-image: url("../images/explore6.png");
    background: radial-gradient(var(--white), var(--primary))
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #0d6efd
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link,
h3.title {
    color: #000
}

.exam-prep1 {
    background-color: #ffb61a
}

.exam-preparation {
    background-color: #f5f9ff
}

.content-before-footer-explore {
    height: 250px;
    background-color: #f75050
}

.help-bg-image {
    background-color: #102da2 !important
}

.carousel-indicators {
    margin-bottom: 0 !important;
    justify-content: start !important
}

.option_selected {
    background-color: #0c0075 !important
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-image: none !important
}

#app {
    font-size: 50px;
    background-image: linear-gradient(white)
}

#app1,
.question::after {
    color: var(--primary) !important
}

@keyframes textclip {
    to {
        background-position: 200% center
    }
}

.btn-primary {
    background-color: var(--secondary) !important;
    border-color: var(--secondary) !important
}

#app1 {
    background-image: linear-gradient(var(--primary))
}

.swiper {
    width: 100%;
    height: 100%
}

.counter_section,
.pricing-badges-second,
.result_modal_body {
    background-color: var(--primary)
}

.pricing-section {
    position: relative
}

.pricingSectionImg {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.pricing_cards {
    color: var(--primary);
    box-shadow: 0 3px 10px 1px #00000042
}

.plane {
    transform: rotate(100deg)
}

.pricing-badges {
    background-color: var(--secondary)
}

#progressBar,
.bar2,
.pricing_duration_btn:checked {
    background-color: var(--secondary) !important
}

@media (min-width:992px) {
    .pricing-card-two {
        scale: 1.1
    }
}

.pricing_duration_btn {
    border: 2px solid var(--navbar-secondary) !important
}

question_item .container-faq {
    background-color: #fff;
    color: #000;
    border-radius: 20px;
    box-shadow: 0 1px 4px 2px rgb(0 0 0 / 17%);
    margin: 20px 0
}

.question {
    font-size: 1.2rem;
    padding: 20px 80px 20px 20px;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer
}

.answercont {
    max-height: 0;
    overflow: hidden;
    transition: .3s
}

.answer {
    padding: 0 20px 20px;
    color: #444
}

.team_section {
    height: auto;
    width: auto;
    margin: 3rem auto
}

.card-img-top {
    border-radius: 50% !important;
    border: 2px solid var(--bs-white);
    outline: 2px solid var(--primary)
}

.team-card,
.team_icon {
    color: #444;
    transition: .3s
}

.test_container_section {
    height: auto;
    width: auto;
    margin: 2.5rem auto;
    position: relative
}

.menu_option_btn {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none
}

.test_type_heading {
    color: #00297c
}

.progress {
    height: .7rem !important;
    background-color: #e6e6e6 !important;
    max-width: 1200px;
    margin: auto
}

#progressBar {
    height: .7rem;
    background-color: var(--secondary)
}

.test_container_center {
    height: auto;
    width: auto;
    overflow-y: auto;
    overflow-x: hidden
}

.test_container_center::-webkit-scrollbar {
    width: 2px
}

.test_container_center::-webkit-scrollbar-thumb {
    background-color: var(--secondary)
}

.test_question_option {
    height: auto;
    width: auto;
    border: 2px solid var(--white) !important;
    border-radius: 1rem;
    font-size: 1.2rem !important;
    animation-delay: .3s;
    filter: drop-shadow(2px 4px 6px black);
    color: var(--white) !important
}

.question_serial_badge {
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px !important;
    background-color: #bebebe;
    color: #0c0075
}

.btn_checkAns,
.btn_finish,
.btn_next {
    background-color: var(--secondary) !important;
    color: var(--primary) !important;
    font-size: .95rem
}

.question_active {
    display: block !important
}

.question_inactive {
    display: none !important
}

.test_container_bottom {
    height: auto;
    width: auto;
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 1px -2px 10px 2px #0000001f
}

.btn_next {
    display: flex;
    align-items: center
}

.correct_answer {
    border: 2px solid #00a700 !important;
    background-color: #00a700 !important
}

.wrong_answer {
    border: 2px solid #f70000 !important;
    background-color: #f70000 !important
}

.progress_section {
    background-color: #e3edff;
    color: #0c0075
}

.progress_section_progress {
    width: 160px;
    height: .4rem
}

.modal_content_box {
    height: auto;
    max-width: 450px;
    margin: auto;
    border: 2px solid var(--lightprimary) !important
}

.finishDemoModal,
.join-together {
    max-width: 800px
}

.result_icon {
    font-size: 8em;
    color: #ff9100
}

.close_results_modal {
    color: var(--lightprimary)
}

.btn_free_trial {
    background-color: var(--lightprimary) !important;
    color: #fffcf9 !important
}

.services-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap
}

.services-container .serviceBox {
    position: relative;
    width: 275px;
    height: 320px;
    background: #004e9f;
    border-radius: 20px;
    overflow: hidden
}

.services-container .serviceBox .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--i);
    transition: .5s 0.25s;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2
}

.services-container .serviceBox:hover .icon {
    top: 30px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transition-delay: 0s
}

.services-container .serviceBox .icon img {
    font-size: 5em;
    color: #fff;
    transition: .5s 0.25s
}

.services-container .serviceBox:hover .icon img {
    font-size: 2em;
    transition-delay: 0s
}

.services-container .serviceBox .content {
    position: relative;
    padding: 20px;
    color: #fff;
    text-align: center;
    margin-top: 100px;
    z-index: 1;
    transform: scale(0);
    transition: .5s
}

.services-container .serviceBox:hover .content {
    transform: scale(1);
    transition-delay: 0.25s
}

.services-container .serviceBox .content h2 {
    margin-top: 10px;
    margin-bottom: 5px
}

.services-container .serviceBox .content p {
    font-weight: 300;
    line-height: 1.5em;
    color: #fff !important
}

.result_card_text {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 0 !important
}

.practice_card {
    height: auto;
    width: 100%
}

@media (max-width:350px) {
    .progress_section_progress {
        width: 80px
    }

    .result_report_row {
        flex-direction: column
    }

    .result_report_column {
        width: 100% !important;
        margin: auto
    }
}

.header_icon_gif {
    bottom: 5px;
    right: 40px;
    filter: drop-shadow(2px 4px 6px #000000b4)
}

.button-arrow {
    top: -110px;
    left: -80px;
    transform: rotate(220deg)
}

.book-image {
    top: -90px
}

.paper_test_bg {
    background: url("../images/explore\ online\ learning\ bg.png")
}

.maths_progress_bar,
.nvr_progress_bar,
.vr_progress_bar {
    height: 1rem !important;
    width: auto;
    background-color: #efefef !important;
    filter: drop-shadow(1px 1px 2px #00000065)
}

.maths_progress_bar .progress-bar,
.nvr_progress_bar .progress-bar,
.vr_progress_bar .progress-bar {
    background: linear-gradient(140deg, #005dc1, #00b8ff) !important
}

.why-choose-us {
    width: 100%;
    background: linear-gradient(to right, rgba(1, 1, 1, .9) 10%, rgba(1, 1, 1, .6) 50%, rgba(1, 1, 1, .4) 100%) 0 0/cover, url("https://img.freepik.com/free-vector/hand-drawn-back-school-background_23-2149464866.jpg?w=740&t=st=1697717088~exp=1697717688~hmac=6b24bc209e15ab645c2053edb1f0fe3b275185639ece9754f0d49f47b67948ef") 0 0/cover;
    flex-wrap: wrap
}

.explore-page-header article,
.why-choose-us article {
    padding: 6rem 2rem;
    flex: 0 0 60%
}

.explore-page-header article .title,
.why-choose-us article .title {
    margin: .5em 0
}

.explore-page-header article .btn_3:after,
.why-choose-us article .btn_3:after {
    content: "\f0f4"
}

.myGallery {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    font-size: 1rem
}

.myGallery img {
    width: 100%
}

.myGallery .caption {
    margin: 0;
    padding: 1em;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 100%;
    overflow: auto;
    box-sizing: border-box;
    transition: transform .5s;
    transform: translateY(100%);
    background: rgba(0, 0, 0, .7);
    color: #fff
}

.card1,
.gallery-image,
.gallery-image1,
.go-corner,
.shape-box,
.shape-box_half {
    overflow: hidden
}

.category_card:hover .category_image_fade,
.myGallery .item:hover .caption,
.shape-box_half:hover figcaption {
    transform: translateY(0)
}

.online_learning_cards {
    background-color: #ececec;
    color: #000;
    margin: 10px
}

.paper_test_bg {
    background: linear-gradient(to right, rgb(255 255 255 / 90%) 10%, rgb(201 228 88 / 0%) 100%, rgb(223 84 84 / 40%) 100%), url("../images/bg-elearning.png");
    background-position: cover;
    height: auto;
    width: 100%
}

.contact_header_section,
.explore-page-header,
.pricing_header_section {
    min-height: 600px;
    max-height: fit-content;
    width: auto;
    background: var(--primary)
}

@media (max-width:920px) {

    .explore-page-header article,
    .why-choose-us article {
        flex: 0 0 100%;
        padding: 6rem 0
    }
}

.counter-cards {
    top: -110px;
    z-index: 999
}

.gallery-image {
    border-radius: 150px 150px 30px 30px
}

.gallery-image1,
.rounded-borders {
    border-radius: 30px
}

#zoomIn img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out
}

#zoomIn:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    margin: 2px
}

.join-together {
    background-color: var(--primary);
    border-radius: 274px 30px 274px 274px;
    margin: auto;
    height: auto;
    background-position: cover
}

.explore-header {
    background: url("../images/carousel-1.jpg");
    height: auto;
    width: 100%
}

.category_card {
    height: auto;
    transition: .3s;
    -webkit-user-select: none;
    background: var(--primary)
}

.category_card:hover {
    scale: 1.04
}

.btn_explore_customize {
    background: linear-gradient(to right, #8ed1fc, #9900ef)
}

.shape-box {
    display: inline-block;
    position: relative;
    z-index: 1;
    height: 430px;
    box-shadow: 1px 8px 11px 1px rgb(0 0 0 / 18%);
    width: 100% !important
}

.shape-box_half {
    text-align: left
}

.shape-box_half:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: skewY(53.5deg);
    transform-origin: top left;
    background: #fff;
    z-index: 1
}

.shape-box>img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.bg-black {
    background-color: #000
}

.shape-box_half figcaption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 30px 30px;
    transform: translateY(100%);
    z-index: 3
}

.shape-box_half figcaption .show-cont {
    position: absolute;
    bottom: calc(100% + 30px);
    left: 30px;
    right: 30px;
    transition: bottom .4s
}

.card-no {
    font-size: 20px;
    color: var(--secondary);
    padding: 0;
    margin: 10px 0
}

.card-main-title {
    margin-top: 8px;
    font-size: 16px;
    text-transform: uppercase;
    color: #292b2c
}

.card-content {
    color: #9f9f9f;
    margin-top: 20px;
    line-height: 22px;
    font-size: 15px
}

.contact_section_title .text p,
.read-more-btn {
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase
}

.read-more-btn {
    border: 2px solid var(--primary);
    cursor: pointer;
    padding: 10px 20px;
    letter-spacing: .08em;
    font-weight: 600;
    position: relative;
    background: 0 0;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
    color: var(--primary);
    border-radius: 2px;
    margin-top: 25px;
    text-decoration: none
}

.customize_header_text,
.text h2 {
    font-weight: 700;
    line-height: 1.14
}

.read-more-btn:hover {
    background: var(--primary);
    color: var(--white)
}

.shape-box_half>.after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ff9d0ba6;
    opacity: 0;
    transition: opacity .4s
}

.shape-box_half:hover:before {
    transform: skewY(20deg)
}

.shape-box_half:hover figcaption .show-cont {
    bottom: 100%
}

.shape-box_half:hover>.after {
    opacity: 1
}

.about-img img {
    transition: .5s
}

.about-img img:hover {
    background: var(--primary) !important
}

.header_section_faq {
    min-height: 600px;
    max-height: fit-content;
    width: auto;
    background-color: var(--primary)
}

.bar3 {
    background-color: var(--lightprimary) !important
}

.text h2 {
    font-family: Inter, system-ui, -apple-system, 'Helvetica Neue', sans-serif;
    font-size: 1.75rem
}

.customize_header_text {
    font-size: 2.3125rem
}

.parent .card-body,
.teacher .card-body {
    background: #fff;
    min-height: 350px;
    max-height: auto
}

.parent-text {
    line-height: 1.14;
    font-weight: 500;
    font-size: 40px;
    color: #000;
    font-family: 'Sigmar One'
}

.card-subtitle {
    line-height: 1.14;
    font-weight: 700;
    font-size: 1.3125rem
}

.teacher {
    background: #001848
}

.address-text h2 {
    line-height: 1.08;
    font-weight: 700;
    font-size: 2.3125rem
}

.address-text p {
    line-height: 1.5;
    font-weight: 500
}

.form-floating>.form-select {
    padding-top: .5rem
}

.shape-section {
    margin-top: 30px;
    padding: 40px 0
}

.diamond-shape {
    background: #fff;
    height: 300px;
    text-align: center;
    transform: rotate(45deg);
    width: 300px;
    border-image: linear-gradient(45deg, rgb(245, 200, 116), #FFA500) 1;
    border-style: solid;
    border-width: 10px
}

.item-count {
    color: #333;
    display: table-cell;
    height: 90px;
    transform: rotate(-45deg);
    width: 60px
}

.card-bg {
    background-color: transparent;
    border: 3px solid orange;
    width: 300px;
    height: 300px;
    margin: 20px auto;
    -webkit-animation: 3s infinite rescale;
    animation: 9s infinite rescale;
    position: absolute;
    transform: rotate(250deg)
}

.contact_section_title .text .decor-right:after,
.contact_section_title .text .decor-right:before {
    position: absolute;
    bottom: 0;
    width: 5px;
    height: 5px;
    background: orange;
    border-radius: 50%;
    top: 0;
    content: ""
}

.contact_section_title,
.contact_section_title .decor,
.contact_section_title .title,
.sec-title-style1.max-width {
    position: relative;
    display: block
}

.sec-title-style1.max-width {
    max-width: 770px;
    margin: -9px auto 0;
    padding-bottom: 52px
}

.sec-title-style1.pabottom50 {
    padding-bottom: 42px
}

.contact_section_title .title {
    color: #131313;
    font-size: 36px;
    line-height: 46px;
    font-weight: 700;
    text-transform: uppercase
}

.contact_section_title .title.clr-white {
    color: #fff
}

.contact_section_title .decor {
    width: 70px;
    height: 5px;
    margin: 19px 0 0
}

.contact_section_title .decor span {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50px;
    height: 1px;
    background: orange;
    margin: 2px 0
}

.contact_section_title .text {
    position: relative;
    display: block;
    margin: 7px 0 0
}

.contact_section_title .text p {
    position: relative;
    padding: 0 15px;
    color: #131313;
    line-height: 16px;
    font-weight: 700;
    margin: 0
}

.contact_section_title .text.clr-yellow p {
    color: orange
}

.contact_section_title .text .decor-right span {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 1px;
    background: orange;
    content: "";
    margin: 2px 0
}

.contact_section_title .text .decor-right:before {
    left: 0
}

.contact_section_title .text .decor-right:after {
    left: 10px
}

.contact_section_title .bottom-text {
    position: relative;
    display: block;
    padding-top: 16px
}

.contact_section_title .bottom-text p {
    color: #848484;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    margin: 0
}

.contact_section_title .bottom-text.clr-gray p {
    color: #cdcdcd
}

.contact-info-area {
    position: relative;
    display: block;
    background: #fff
}

.container-card {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 3rem 0;
    min-height: 100vh;
    display: grid;
    place-items: center
}

.contact-form .sec-title-style1 {
    position: relative;
    display: block;
    padding-bottom: 51px;
    width: 50%
}

.card__container {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
    width: 100%;
    max-width: 90%;
    margin: auto;
    padding: 60px 0
}

.card__bx,
.card__bx .card__data {
    justify-content: center;
    display: flex
}

.card__bx {
    --dark-color: #2e2e2e;
    --dark-alt-color: #777777;
    --white-color: #ffffff;
    --button-color: #333333;
    --transition: 0.5s ease-in-out;
    font-family: inherit;
    height: 350px;
    width: 300px;
    position: relative;
    align-items: center;
    background: var(--dark-color);
    transition: var(--transition)
}

.card__bx::after,
.card__bx::before {
    content: "";
    position: absolute;
    z-index: -1;
    transition: var(--transition)
}

.card__bx::before {
    inset: -10px 50px;
    border-top: 4px solid orange;
    border-bottom: 4px solid orange
}

.card__bx:hover::before {
    inset: -10px 40px;
    transform: skewY(0)
}

.card__bx::after {
    inset: 60px -10px;
    border-left: 4px solid #040441;
    border-right: 4px solid #040441
}

.card__bx:hover::after {
    inset: 40px -10px;
    transform: skew(0)
}

.card__bx .card__data {
    position: relative;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    padding: 0 20px;
    height: 100%;
    width: 100%;
    overflow: hidden
}

.card__bx .card__data .card__icon {
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: var(--text-color);
    background-color: var(--dark-color);
    transition: var(--transition);
    color: var(--clr)
}

.card__bx .card__data .card__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px
}

.card__bx .card__data h3 {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--white-color);
    transition: var(--transition)
}

.card__bx .card__data p {
    font-size: .9rem;
    color: var(--dark-alt-color);
    transition: var(--transition)
}

.card__bx .card__data a {
    position: relative;
    display: inline-flex;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    border: 2px solid var(--clr);
    color: var(--dark-color);
    background-color: var(--clr);
    transition: var(--transition)
}

.carousel-inner {
    background: #000047;
    border-radius: 0 100px;
    color: #fff;
    min-height: 350px;
    max-height: auto;
    height: 100%
}

.contact-bg {
    background-image: url('images/contact-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #fff2fb
}

.section-services .single-service .part-1 i {
    margin-bottom: 25px;
    font-size: 50px;
    color: #ef7900
}

.section-services .single-service .part-1 {
    padding: 40px 40px 25px;
    border-bottom: 2px solid #f7d9a2
}

.section-services .single-service .part-2 a i {
    margin-right: 10px;
    color: #ef7900
}

.card {
    width: 300px;
    height: min-content;
    padding: 25px;
    margin: 0 15px;
    background: #fff;
    border-radius: 40px;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0, 0, 0, .05);
    justify-content: center
}

.card .card-img {
    width: 100%;
    text-align: center
}

.card .card-img img {
    height: 250px;
    margin: -130px 0 15px;
    filter: drop-shadow(0 8px 8px #cdd5e2);
    transition: .3s
}

.card:hover .card-img img {
    height: 240px
}

.card .card-title h3 {
    color: #1b2430;
    font-size: 28px;
    letter-spacing: -.5px
}

.card .card-title p {
    color: #969696;
    font-size: 18px;
    letter-spacing: -.5px
}

@media (max-width:600px) {
    .drop {
        width: 280px;
        height: 280px
    }

    body {
        display: block
    }

    .card {
        width: 90%;
        margin: 150px auto 0
    }
}

.first-reward {
    background-color: #cef1fd
}

.card1 .title {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: .02em;
    line-height: 1.8em;
    color: #000
}

.go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    top: 0;
    right: 0;
    background-color: #00838d;
    border-radius: 0 4px 0 32px
}

.accordion button,
.card1 {
    position: relative;
    display: block
}

.go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: #fff;
    font-family: courier, sans
}

.card1 {
    background-color: var(--lighter_primary);
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    padding: 3em;
    filter: drop-shadow(1px 3px 5px #0000003d)
}

.card1:hover {
    color: rgba(0, 0, 0, .8)
}

.title {
    transition: .3s ease-out;
    color: #030303
}

.card1 .icon {
    color: var(--primary)
}

.pricing .price-card-background {
    border-radius: 1rem;
    background: linear-gradient(to top left, #8ed1fc, #9900ef)
}

.price-card-background h4 {
    color: #fff;
    font-size: 2.5rem
}

.price-card-background .price-card-info span {
    color: #ffff
}

.pricing .width {
    width: 50%
}

.pricing .price-card-background a {
    color: #b639ff;
    font-size: 1rem;
    background: 0 0;
    transition: .3s
}

.pricing .price-card-background a:hover {
    background: 0 0 !important;
    color: #fff;
    border: 1px solid #fff
}

.pic-background .border-radius-none {
    border-radius: 1rem 0 0 !important
}

@media screen and (max-width:993px) {
    .pricing .width {
        width: 50% !important
    }
}

@media screen and (max-width:991px) {
    .pricing .width {
        width: 75% !important
    }
}

@media screen and (max-width:768px) {
    .pricing .width {
        width: 75% !important
    }
}

@media screen and (max-width:336px) {
    .pic-background .wid-th {
        margin-bottom: 2.5rem !important
    }
}

@media screen and (max-width:767px) {
    .pricing .width {
        width: 100% !important
    }
}

@media screen and (max-width:291px) {
    .pic-background .wid-th {
        width: 100% !important
    }
}

.header-section {
    background: #102da2
}

.logo-slider {
    display: inline-block
}

.about-parent-div,
.features {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical
}

.slider {
    white-space: nowrap
}

.pricingone {
    background: #eaeaea
}

.container_help {
    width: 80%
}

.accordion .accordion-item {
    border-bottom: 1px solid #e5e5e5
}

.accordion .accordion-item button[aria-expanded=true] {
    border-bottom: 1px solid #102da2
}

.accordion button {
    text-align: left;
    width: 100%;
    border: none;
    background: 0 0;
    outline: 0
}

.accordion button:focus,
.accordion button:hover {
    cursor: pointer;
    color: #102da2
}

.accordion button:focus::after,
.accordion button:hover::after {
    cursor: pointer;
    color: #102da2;
    border: 1px solid #102da2
}

.accordion button .accordion-title {
    padding: 1em 1.5em 1em 0
}

.accordion button .icon {
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 0;
    width: 22px;
    height: 22px;
    border: 1px solid;
    border-radius: 22px
}

.accordion button .icon::before {
    display: block;
    position: absolute;
    content: "";
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor
}

.accordion button .icon::after {
    display: block;
    position: absolute;
    content: "";
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor
}

.accordion button[aria-expanded=true] {
    color: #102da2
}

.accordion button[aria-expanded=true] .icon::after {
    width: 0
}

.accordion button[aria-expanded=true]+.accordion-content {
    opacity: 1;
    max-height: 9em;
    transition: .2s linear;
    will-change: opacity, max-height
}

.accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity .2s linear, max-height .2s linear;
    will-change: opacity, max-height
}

#message {
    min-height: 180px;
    max-height: 180px
}

.contact_form_section {
    height: auto;
    width: auto;
    background: radial-gradient(#d860ce, #8f0283);
    margin: 5rem auto
}

.contact_form_image {
    filter: drop-shadow(2px 2px 3px #00000075)
}

.features {
    -webkit-line-clamp: 3;
    line-clamp: 3
}

@media only screen and (max-width:575px) {
    .learning-image {
        width: 280px !important;
        height: auto !important
    }
}

@media only screen and (max-width:320px) {
    .learning-image {
        width: 250px !important;
        height: auto !important;
    }
}

.about-parent-div {
    -webkit-line-clamp: 7;
    line-clamp: 7
}


.svg-image {
    margin-top: -1px
}

.answer_parent {
    display: none
}

.service_child1 {
    background: #bbd1f4
}

.service_child2 {
    background: #ffe5c2
}

.service_child3 {
    background: #d2cdc7
}

.service_child4 {
    background: #ffc747
}

.header_heading {
    line-height: 1.6
}

.header_image {
    filter: contrast(1.1)
}

.learning-image {
    box-shadow: (1px 1px 0 #00000035)
}

.faq_question {
    cursor: pointer
}

.progress,
.progress-bar {
    height: .5rem
}

.team-card {
    width: 12rem
}

.services_card {
    height: auto
}

.services_image {
    height: 160px;
    width: auto
}

.services_image img {
    position: absolute;
    left: 50%;
    right: 50%;
    top: -75px;
    transform: translateX(-50%)
}

.navbar_menu {
    cursor: pointer;
}

.footer_heading_line {
    height: 0.25rem;
    width: 70px;
    background: var(--secondary);
    border-radius: 10px;
}